.headerStyle {
  border-left: 270px;
  color: #fff;
  height: auto;
  padding-inline: 0;
  line-height: 64px;
  background-color: white;
  padding: 0 0 30px 0;
}
.footerStyle {
  border-left: 270px;
  color: black;
  background-color: #fff;
}
.layoutContent {
  margin-left: 260px;
  flex-grow: 1;
}
.layout {
  background: #fff;
}
.sider {
  background: #fff;
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  width: 260px;
}
