.password-input {
    position: relative;
  }
  
  .password-field {
    padding-right: 30px; /* Để chừa chỗ cho biểu tượng */
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 5px; /* Điều chỉnh vị trí của biểu tượng */
    transform: translateY(-50%);
    cursor: pointer;
  }
  