.header {
  padding: 20px 20px 10px 40px;
  // margin: 0 20px 0px 10px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/bagsgirl-datn.appspot.com/o/Image%2FbackGround.png?alt=media&token=7c41a882-fac1-49ef-b703-a2b365beebdb);
  border-radius: 12px;
  width: 100%;
}
